<aside class="left-side sidebar-offcanvas">

    <section class="sidebar">

        <ul class="sidebar-menu">

            <li>
                <a href="/home/#/admin" ng-bind="getTranslation('Admin')"></a>
            </li>
            <li>
                <a href="/home/#/admin/users" ng-bind="getTranslation('Users')"></a>
            </li>
            <li>
                <a href="/home/#/admin/configurations" ng-bind="getTranslation('Configurations')"></a>
            </li>
            <li>
                <a href="/home/#/admin/files" ng-bind="getTranslation('Files')"></a>
            </li>
            <li>
                <a href="/home/#/admin/logs" ng-bind="getTranslation('Logs')"></a>
            </li>

        </ul>
    </section>

</aside>