<div class="main-content-full" ng-init="getNotifications(1)">
    <div class="breadcrumbs" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/home/#/home">Home</a>
            </li>
            <li class="active">Notifications</li>
        </ul><!-- .breadcrumb -->

    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                My Notifications
            </h1>
        </div><!-- /.page-header -->

    <div class="row">
    <div id="timeline-container" class="col-xs-12 col-sm-10 col-sm-offset-1">


        <div id="timeline-item" class="timeline-item clearfix" style="display: none;">
            <div class="timeline-info">
                <span class="timeline-date"> </span>

                <i class="timeline-indicator btn btn-info no-hover"></i>
            </div>

            <div class="widget-box transparent">
                <div class="widget-body">
                    <div class="widget-main no-padding">



                    </div>
                </div>
            </div>
        </div>




    </div>
    </div>


    </div>

</div>