<div class="container main-container">

    <div class="row">

        <div class="col-lg-3">
        </div>

        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-body">

                    <p style="text-align: center;">
                        <img src="images/custom/intalligentLogoSimpleCompletoLeftRight.png"/>
                    </p>

                    <h4 ng-bind="getTranslation('You have successfully logged out')" style="margin: 40px 0;"></h4>

                    <p ng-bind="getTranslation('Back to login?')"></p>

                    <a href="/" class="btn btn-info" style="width: 150px;" ng-bind="getTranslation('Login')"></a>

                </div>
            </div>

        </div>

        <div class="col-lg-3">
        </div>

    </div><!-- /.row -->

</div><!-- /.container -->