<script type="text/javascript">
    $('#remember-password-form').validate({
        rules: {
            email: {
                required: true,
                email: true
            }
        },
        messages: {
            email: "Please enter a valid email address"
        }
    });
</script>

<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <form id="remember-password-form" name="remember-password-form" class="form-inline" role="form" ng-submit="rememberPassword()">
            <fieldset>
                <legend>Type your email</legend>
                <div class="form-group">
                    <input name="email" type="test" class="form-control" ng-model="email" placeholder="Type your email..." required>
                </div>
                <button type="submit" class="btn btn-primary submit-btn">Submit</button>
            </fieldset>
        </form>

    </div>
</div>
