<div class="position-relative">
<div id="login-box" class="login-box visible widget-box no-border" style="width: 460px;margin-left: -40px;">
    <div class="widget-body" style="padding: 10px;">

        <form class="form-inline" role="form">
            <fieldset>
                <legend>Account Verification</legend>
                <div vc-recaptcha tabindex="3" theme="clean" key="6LfCTtcSAAAAAHKk6pJCx7xClJSmJul6mLv1nKBZ"></div>

                <!-- Call a method in the scope of your controller to handle data submit -->
                <button class="btn btn-primary" ng-click="verify()">Submit</button>
            </fieldset>
        </form>

    </div><!-- /widget-body -->
</div><!-- /login-box -->
</div><!-- /position-relative -->
