<aside class="right-side full-page" ng-init="getPositionAreas(1,'','')">
        <div class="breadcrumbs" id="breadcrumbs">

            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/home/#/home">{{getTranslation("Home")}} </a>
                </li>
                <li><a href="/home/#/settings">{{getTranslation("Settings")}}</a></li>
                <li class="active">{{getTranslation("Position Areas")}}</li>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search" ng-submit="getPositionAreas(1, PositionAreasModel.data.search)">
                    <span class="input-icon">
                        <input type="text" placeholder="{{getTranslation('Search')}} ..." class="nav-search-input" autocomplete="off" ng-model="PositionAreasModel.data.search">
                        <button type="button" class="btn btn-xs btn-info btn-search" data-toggle="button" ng-click="getPositionAreas(1, PositionAreasModel.data.search)">{{getTranslation("Search")}}</button>
                    </span>
                </form>
            </div>

        </div>

    <div ng-include src="subPage"></div>

        </br>

        <hr>

</aside>