<div ng-include src="submenu"></div>

<aside class="right-side" ng-init="getFiles()">
    <div class="breadcrumbs" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/home/#/home">Home</a>
            </li>
            <li>
                <a href="/home/#/admin">Admin</a>
            </li>
            <li class="active">Files</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search" ng-submit="getFiles(1, adminFilesModel.data.search)">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" autocomplete="off" ng-model="adminFilesModel.data.search">
                    <i class="icon-search fa fa-search"></i>
                    <button type="button" class="btn btn-xs btn-info btn-search" data-toggle="button" ng-click="getFiles(1, adminFilesModel.data.search)">Search</button>
                </span>
            </form>
        </div>

    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                Files
                <small>
                    <i class="fa fa-double-angle-right"></i>
                    <a href="/home/#/admin/files/upload">Upload</a>
                </small>
            </h1>
        </div><!-- /.page-header -->

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Size</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-row" ng-repeat="file in adminFilesModel.data.files" id="{{file._id}}">
                <td>{{file._id}}</td>
                <td>{{file.name}}</td>
                <td>{{file.description}}</td>
                <td>{{file.type}}</td>
                <td>{{bytesToSize(file.size)}}</td>
                <td class="table-actions-cell">
                    <a href="/home/#/admin/files/edit/{{file._id}}" class="btn btn-xs btn-info">
                        <i class="fa fa-edit bigger-120"></i>
                    </a>
                    <a class="hand-cursor btn btn-xs btn-danger" ng-click="deleteFile(file._id)">
                        <i class="fa fa-trash-o bigger-120"></i>
                    </a>
                    <a href="{{file.url}}" class="hand-cursor btn btn-xs btn-success" target="_blank">
                        <i class="fa fa-external-link bigger-120"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination pull-right" ng-show="adminFilesModel.data.pages > 1">
            <li ng-class="{disabled:page==1}"><a ng-click="getFiles(Number(page)-1)" class="hand-cursor">&laquo;</a></li>
            <li ng-repeat="n in [] | range:adminFilesModel.data.pages" ng-class="{active:page==$index+1}" ng-show="$index+1 < Number(page)+5 && $index+1 > Number(page)-5">
                <a ng-click="getFiles({{$index+1}})" class="hand-cursor">{{$index+1}}</a>
            </li>
            <li ng-class="{disabled:page==adminFilesModel.data.pages}"><a ng-click="getFiles(Number(page)+1)" class="hand-cursor">&raquo;</a></li>
        </ul>

    </div>

</aside>

<div ng-include src="deleteModal"></div>