<!DOCTYPE html>
<html id="ng-app" ng-app="nodedream-login" class="bg-black">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Intalligent - Login</title>

    <!--<base href="/">-->

    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <link href="/lte/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />

    <!--[if IE 7]>
    <link rel="stylesheet" href="/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->

    <!-- fonts -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <!-- Theme style -->
    <link href="/lte/css/AdminLTE.css" rel="stylesheet" type="text/css" />

    <!-- inline styles related to this page -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="/js/lib/html5shiv.js"></script>
    <script src="/js/lib/respond.min.js"></script>
    <![endif]-->
</head>

<body class="bg-black">
    <div class="form-box" id="login-box">
        <div class="header">
            <a href="http://www.intalligent.com"><img src="images/custom/intalligentLogoSimpleCompletoLeftRight.png" style="max-width: 250px !important;"/></a>
        </div>

        <div ui-view></div>
    </div>

<!-- basic scripts -->

<!--[if !IE]> -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='js/lib/jquery/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='js/lib/jquery/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>

<!-- inline scripts related to this page -->

<script src="/js/lib/jquery/jquery-2.0.3.min.js"></script>
<script src="/js/lib/jquery/jquery.validate.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/lib/angular/angular.min.js"></script>
<script src="/js/lib/angular/angular-ui-router.min.js"></script>
<script src="/js/lib/noty/jquery.noty.js"></script>
<script src="/js/lib/noty/layouts/top.js"></script>
<script src="/js/lib/noty/themes/default.js"></script>
<script src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script src="/js/lib/angular/angular-recaptcha.min.js"></script>

<script src="/js/appRun.js"></script>
<script src="/js/login.js"></script>
<script src="/js/services.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/directives.js"></script>

<script src="/js/lib/jquery/pwstrength.js"></script>

<script type="text/javascript">
    function show_box(id) {
        jQuery('.widget-box.visible').removeClass('visible');
        jQuery('#'+id).addClass('visible');
    }
</script>
</body>

</html>