<!DOCTYPE html>
<html id="ng-app" ng-app="nodedream-app">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Intalligent</title>

    <!--<base href="/">-->

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <link href="/lte/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />

    <!--[if IE 7]>
    <link rel="stylesheet" href="/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific modules -->

    <link rel="stylesheet" href="/modules/files/style.css" />

    <!-- fonts -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <!-- Theme style -->
    <link href="/lte/css/AdminLTE.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/js/lib/angularxeditable/xeditable.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
    </script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="/js/lib/html5shiv.js"></script>
    <script src="/js/lib/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/js/lib/mbExtruder/mbExtruder.css" />

    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/intalligent.css">
    <link rel="stylesheet" href="/css/colorpicker.css">
    <link rel="stylesheet" href="/css/chosen.css">
    <link rel="stylesheet" href="/js/lib/jRating/jRating.jquery.css">

</head>

<body class="skin-blue">

    <header class="header">
        <a href="http://www.intalligent.com" class="logo">
            <img src="/images/custom/intalligentLogoSimple.png" width="35px" height="35px" />
        </a>

        <nav class="navbar navbar-static-top" role="navigation">

            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <ul id="top-menu" class="nav navbar-nav" style="display: none;">

                <li><a href="/home/#/home" ng-bind="getTranslation('Home')"></a></li>

                <li>
                    <a href="/home/#/my-employee-profile" ng-bind="getTranslation('My Profile')"></a>
                </li>

                <li ng-show="restrictRole(['52988ac5df1fcbc201000008', '5327d7ef9c3b0f7801acda0d'])">
                    <a href="/home/#/positions" ng-bind="getTranslation('Positions')"></a>
                </li>

                <li>
                    <a href="/home/#/employees" ng-bind="getTranslation('Employees')"></a>
                </li>

                <li ng-show="restrictRole(['52988ac5df1fcbc201000008', '5327d7ef9c3b0f7801acda0d'])">
                    <a href="/home/#/settings" ng-bind="getTranslation('Settings')"></a>
                </li>

            </ul>

            <div class="navbar-right">

                <ul id="navbar-right" class="nav navbar-nav">

                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            <span><span ng-bind="user.username"></span> <i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Menu Body -->
                            <li class="user-body">
                                <a href="/home/#/admin">{{getTranslation('Admin')}}</a>
                            </li>
                            <li class="user-body">
                                <a href="http://www.intalligent.com" target="_blank">{{getTranslation('About Intalligent')}}</a>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/home/#/profile" class="btn btn-default btn-flat">{{getTranslation('Profile')}}</a>
                                </div>
                                <div class="pull-right">
                                    <a href="" ng-click="logout()" class="btn btn-default btn-flat">{{getTranslation('Logout')}}</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="main-container wrapper row-offcanvas row-offcanvas-left" id="main-container">

        <div class="sub-header">
            <img id="brandHeaderLogo" style="height: 45px; display: none;" />
        </div>

        <div ui-view></div>

    </div>

    <div id="loader-overlay" style="display: none;">
        <img class="loader-img" src="/images/loader.gif" />
    </div>

    <div id='graph-tooltip'></div>

<!-- basic scripts -->

<!--[if !IE]> -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/js/lib/jquery/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/js/lib/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/js/lib/jquery/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/lte/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="/js/lib/excanvas.min.js"></script>
<![endif]-->

<!--<script src="assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="assets/js/jquery.slimscroll.min.js"></script>
<script src="assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="assets/js/jquery.sparkline.min.js"></script>-->

<!-- lte scripts -->

<script src="/lte/js/AdminLTE/app.js"></script>

<!-- inline scripts related to this page -->

<script src="/js/lib/jquery/jquery.validate.min.js"></script>
<script src="/js/lib/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<!--<script src="/js/lib/jquery/jquery.colorbox-min.js"></script>-->
<script src="/js/lib/jquery/chosen.jquery.min.js"></script>
<script src="/js/lib/jRating/jRating.jquery.js"></script>

<script src="/js/lib/jquery-flot/jquery.flot.min.js"></script>
<script src="/js/lib/jquery-flot/jquery.flot.time.min.js"></script>
<script src="/js/lib/jquery-flot/jquery.flot.categories.min.js"></script>
<script src="/js/lib/jquery-flot/jquery.flot.resize.min.js"></script>
<script src="/js/lib/jquery-flot/jquery.flot.pie.js"></script>

<script src="/js/lib/objectId/Objectid.js"></script>

<script src="/js/lib/angular/angular.min.js"></script>
<script src="/js/lib/angular/angular-touch.min.js"></script>
<!--<script src="/js/lib/angular/angular-sanitize.min.js"></script>-->
<script src="/js/lib/angular/angular-ui-router.min.js"></script>
<script src="/js/lib/angular/textAngular-sanitize.min.js"></script>
<script src="/js/lib/angular/textAngular.min.js"></script>
<script type="text/javascript" src="/js/lib/angular/sortable.js"></script>
<script type="text/javascript" src="/js/lib/angular/angular-slider.min.js"></script>

<script src="/js/lib/bootstrap-tagsinput/bootstrap-tag.min.js"></script>

<script src="/js/lib/noty/jquery.noty.js"></script>
<script src="/js/lib/noty/layouts/top.js"></script>
<script src="/js/lib/noty/themes/default.js"></script>

<script src="/js/lib/tinymce/tinymce.min.js"></script>

<script src="/js/lib/dropzone/dropzone.js"></script>

<script src="/js/lib/mbExtruder/jquery.hoverIntent.min.js"></script>
<script src="/js/lib/mbExtruder/jquery.mb.flipText.js"></script>
<script src="/js/lib/mbExtruder/mbExtruder.js"></script>

<!--<script src="js/lib/fuelux/fuelux.spinner.min.js"></script>-->
<script src="/js/lib/bootstrap-colorpicker/bootstrap-colorpicker-module.js"></script>
<script src="/js/lib/bootstrap-multiselect/bootstrap-multiselect.js"></script>

<!--<script src="/js/lib/angularui/ui-bootstrap-tpls-0.11.0.min.js"></script>-->
<script src="/js/lib/ui-bootstrap/ui-bootstrap-tpls-0.10.0.min.js"></script>

<script src="/js/appRun.js"></script>
<script src="/js/app.js"></script>
<script src="/js/services.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/directives.js"></script>
<script src="/js/directives/countriesDirective.js"></script>
<script src="/js/directives/currencyDirective.js"></script>
<script src="/js/directives/multipleCheckbox.js"></script>

<script src="/js/clientModels/usersModel.js"></script>
<script src="/js/clientModels/notificationsModel.js"></script>
<script src="/js/clientModels/filesModel.js"></script>
<script src="/js/controllers/usersController.js"></script>
<script src="/js/controllers/notificationsController.js"></script>
<script src="/js/controllers/filesController.js"></script>

<script src="/js/clientModels/admin/adminModel.js"></script>
<script src="/js/clientModels/admin/adminUsersModel.js"></script>
<script src="/js/clientModels/admin/adminRolesModel.js"></script>
<script src="/js/clientModels/admin/adminConfigurationsModel.js"></script>
<script src="/js/clientModels/admin/adminLanguagesModel.js"></script>
<script src="/js/clientModels/admin/adminLogsModel.js"></script>
<script src="/js/clientModels/admin/adminFilesModel.js"></script>
<script src="/js/clientModels/admin/adminCommunicationsModel.js"></script>
<script src="/js/controllers/admin/adminController.js"></script>
<script src="/js/controllers/admin/adminUsersController.js"></script>
<script src="/js/controllers/admin/adminConfigurationsController.js"></script>
<script src="/js/controllers/admin/adminLogsController.js"></script>
<script src="/js/controllers/admin/adminFilesController.js"></script>

<!-- do not remove or edit this line --> <!--##NODE_DREAM_CUSTOM_CONTROLLERS_JS##*/-->

<script src="/js/custom/Positions/model.js"></script>
<script src="/js/custom/Positions/controller.js"></script>
<script src="/js/custom/Employees/model.js"></script>
<script src="/js/custom/Employees/controller.js"></script>

<script src="/js/custom/Settings/controller.js"></script>

<script src="/js/custom/Brands/model.js"></script>
<script src="/js/custom/Competencies/model.js"></script>
<script src="/js/custom/Departments/model.js"></script>
<script src="/js/custom/PositionCategories/model.js"></script>
<script src="/js/custom/ProfessionalGroups/model.js"></script>
<script src="/js/custom/Units/model.js"></script>
<script src="/js/custom/RatingTemplates/model.js"></script>
<script src="/js/custom/PositionAreas/model.js"></script>
<script src="/js/custom/AppraisalStorage/model.js"></script>
<script src="/js/custom/AutoAppraisalStorage/model.js"></script>
<script src="/js/custom/AnalyticsMeasureLevel/model.js"></script>
<script src="/js/custom/Evaluations/model.js"></script>
<script src="/js/custom/AnalyticsMeasureLevelAutoAssesment/model.js"></script>
<script src="/js/custom/ActionPlans/model.js"></script>
<script src="/js/custom/Loader/model.js"></script>
<script src="/js/custom/ActionCategories/model.js"></script>
<script src="/js/custom/Exporter/model.js"></script>

<script src="/js/custom/Intalligent/controller.js"></script>
<script src="/js/custom/Brands/controller.js"></script>
<script src="/js/custom/Competencies/controller.js"></script>
<script src="/js/custom/Departments/controller.js"></script>
<script src="/js/custom/PositionCategories/controller.js"></script>
<script src="/js/custom/ProfessionalGroups/controller.js"></script>
<script src="/js/custom/Units/controller.js"></script>
<script src="/js/custom/RatingTemplates/controller.js"></script>
<script src="/js/custom/PositionAreas/controller.js"></script>
<script src="/js/custom/AppraisalStorage/controller.js"></script>
<script src="/js/custom/AutoAppraisalStorage/controller.js"></script>
<script src="/js/custom/AnalyticsMeasureLevel/controller.js"></script>
<script src="/js/custom/Evaluations/controller.js"></script>
<script src="/js/custom/AnalyticsMeasureLevelAutoAssesment/controller.js"></script>
<script src="/js/custom/ActionPlans/controller.js"></script>
<script src="/js/custom/Loader/controller.js"></script>
<script src="/js/custom/ActionCategories/controller.js"></script>
<script src="/js/custom/Exporter/controller.js"></script>

</body>

</html>