<div class="page-content">

    <div class="row" style="height: 30px;">
        <a ng-show="from == 'employee'" class="btn btn-link pull-left hand-cursor" href="/home/#/employees/{{selectedEmployee._id}}">{{getTranslation('Back to')}} {{selectedEmployee.employeeName}}</a>
        <a ng-show="from == 'profile'" class="btn btn-link pull-left hand-cursor" href="/home/#/my-employee-profile">{{getTranslation('Back to my profile')}}</a>
    </div>

    <div class="panel panel-primary">

        <div class="panel-body">

            <div class="page-header position-relative">
                <h1>{{selectedEmployee.employeeName}}</h1>
            </div><!--/page-header-->

            <!--<div id="areas-graph-container">

            </div>-->

            <div class="row">
                <h3 ng-bind="getTranslation('Areas')"></h3>

                <div id="autoevaluation-graph" class="chart" style="height: 250px;"></div>
            </div>

            <div class="row">
                <h3 ng-bind="getTranslation('TP Rating')"></h3>

                <div id="autoevaluation-tp-graph" class="chart"></div>
            </div>

        </div>

    </div>

</div>