<div class="page-content">

    <div class="panel-heading">
        <h3>
            <span ng-bind="getTranslation('Loader')"></span>
        </h3>
        <span class="pull-right">
            <a class="btn btn-link hand-cursor" href="home/#/settings" >{{getTranslation("Back to settings")}}</a> |
            <!--<a class="btn btn-link hand-cursor" ng-click="new()" >{{getTranslation("Add new appraisal storage")}}</a>-->
        </span>
    </div>

    <div class="space-10"></div>

    <div class="panel panel-primary">
        <div class="panel-body">



        </div>
    </div>

</div>