<aside class="right-side full-page">
        <div class="breadcrumbs" id="breadcrumbs">

            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/home/#/home">{{getTranslation("Home")}} </a>
                </li>
                <li><a href="/home/#/settings">{{getTranslation("Settings")}}</a></li>
                <li class="active">{{getTranslation("Loader")}}</li>
            </ul><!-- .breadcrumb -->

        </div>

    <div ng-include src="subPage"></div>

        </br>

        <hr>

</aside>