<div>
    <div class="page-header">
        <h1>
            <span ng-bind="getTranslation('Documents')"></span>
            <small>
                <i class="fa fa-double-angle-right"></i>
                <a ng-click="addDocument()" class="hand-cursor" ng-bind="getTranslation('Add New')"></a>
            </small>
        </h1>
    </div><!-- /.page-header -->

    <table class="table">
        <thead>
        <tr>
            <th style="width: 20px;"></th>
            <th style="width: 20px;"></th>
            <th ng-bind="getTranslation('URL')"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-row" ng-repeat="document in selectedActionPlan.documents">
            <td>
                <a class="btn btn-xs btn-info" ng-click="editDocument(document)">
                    <i class="fa fa-edit bigger-120"></i>
                </a>
            </td>
            <td>
                <a class="hand-cursor btn btn-xs btn-danger" ng-click="deletePositionItem('documents', document)">
                    <i class="fa fa-trash-o bigger-120"></i>
                </a>
            </td>
            <td>{{document.documentURL}}</td>
        </tr>
        </tbody>
    </table>

</div>
