<div class="page-content">

    <div class="row" style="height: 30px;">
        <button class="btn btn-link pull-left" ng-click="editBehaviour(selectedBehaviour)" >{{getTranslation('Back to behaviours')}} </button>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body">
            <form id="RatingConfigurations-form" name="RatingConfigurations-form" role="form">
                <div class="row" ng-form="RatingConfigurationsForm">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group" ng-class="{'has-error':RatingConfigurationsForm.ratingDescription.$invalid}">
                            <label ng-bind="getTranslation('Rating Description')"></label>
                            <input type="text" name="ratingDescription" class="form-control" ng-model="selectedRatingConfiguration.ratingDescription" ng-required="true" required></textarea>
                            <span ng-show="RatingConfigurationsForm.ratingDescription.$invalid" class="help-inline" ng-bind="getTranslation('Field name is required')"></span>
                        </div>
                        <!--<div class="form-group" ng-class="{'has-error':RatingConfigurationsForm.ratingValue.$invalid}">
                            <label ng-bind="getTranslation('Rating Value')"></label>
                            <input name="ratingValue" type="text" class="form-control required" ng-model="selectedRatingConfiguration.ratingValue" ng-required="true" required>
                            <span ng-show="RatingConfigurationsForm.ratingValue.$invalid" class="help-inline" ng-bind="getTranslation('Field name is required')"></span>
                        </div>-->
                        <div class="form-group">
                            <label ng-bind="getTranslation('Rating Value')"></label>
                            <slider ng-model="selectedRatingConfiguration.ratingValue" floor="0" ceiling="100" step="1"></slider>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label ng-bind="getTranslation('Rating Color')"></label>
                            <!--<input name="ratingColor" type="text" class="form-control" ng-model="selectedRatingConfiguration.ratingColor">-->

                            <!--<input id="colorpicker1" type="text" class="input-small">-->

                            <input colorpicker type="text" class="form-control" ng-model="selectedRatingConfiguration.ratingColor" />
                        </div>

                        <div class="form-group">
                            <label ng-bind="getTranslation('Rating Image')"></label>

                            <div class="input-group">
                                <input id="ratingImage" name="ratingImage" type="text" class="form-control" ng-model="selectedRatingConfiguration.ratingImage">
                                <span class="input-group-btn"><button type="button" class="btn btn-primary btn-sm" ng-click="openGallery('ratingImage')">{{getTranslation('Choose')}}</button></span>
                            </div>

                            <img ng-src="{{selectedRatingConfiguration.ratingImage}}" class="image-input-preview"/>
                        </div>

                    </div>
                </div>
                <button class="btn btn-primary pull-right" ng-disabled="RatingConfigurationsForm.$invalid" ng-click="saveRatingConfiguration(selectedRatingConfiguration)" ng-bind="getTranslation('Save')"></button>
            </form>


        </div>
    </div>

    <div ng-include src="actionPlansList" ng-show="mode == 'update'" ng-init="getActionPlans('ratingConfiguration')"></div>
</div>