<div ng-include src="submenu"></div>

<aside class="right-side">
    <div class="breadcrumbs" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/home/#/home">Home</a>
            </li>
            <li>
                <a href="/home/#/admin">Admin</a>
            </li>
            <li>
                <a href="/home/#/admin/users">Users</a>
            </li>
            <li class="active">Edit</li>
        </ul><!-- .breadcrumb -->

    </div>

    <div class="page-content">

        <form novalidate id="users-form" name="users-form" role="form" ng-submit="changeUser(adminUsersModel.data)">
            <div class="form-group">
                <label>Username</label>
                <input name="username" type="text" class="form-control" ng-model="adminUsersModel.data.username">
            </div>

            <button type="submit" class="btn btn-primary submit-btn">Submit</button>
        </form>

    </div>

</aside>