<aside class="right-side full-page" ng-init="getRatingTemplates()">
    <div class="breadcrumbs" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/home/#/home" ng-bind="getTranslation('Home')"></a>
            </li>

            <li>
                <a href="/home/#/settings" ng-bind="getTranslation('Settings')"></a>
            </li>

            <li>
                <a ng-click="getRatingTemplates()" ng-bind="getTranslation('RatingTemplates')"></a>
            </li>

        </ul><!-- .breadcrumb -->
        <div class="nav-search" id="nav-search" ng-show="!selectedRatingTemplate">

            <form class="form-search" ng-submit="getRatingTemplates(1, RatingTemplatesModel.data.search)">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" autocomplete="off" ng-model="RatingTemplatesModel.data.search">
                    <button type="button" class="btn btn-xs btn-info btn-search" data-toggle="button" ng-click="getRatingTemplates(1, RatingTemplatesModel.data.search)">Search</button>
                </span>
            </form>
        </div>

    </div>

    <div ng-include src="subPage"></div>

</aside>

<div ng-include src="deleteModal"></div>