<li class="dropdown notifications-menu" ng-app="nodedream-notifications" ng-controller="notificationsCtrl" ng-init="getNotificationsDropdown()">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="markAsViewed()">
        <i class="fa fa-warning"></i>
        <span class="label label-warning notifications-counter"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <ul class="menu">
                <li id="notifications-dropdown">

                </li>
            </ul>
        </li>
        <li class="footer"><a href="/home/#/notifications">View all</a></li>
    </ul>
</li>